body{
  /background: url("https://images.unsplash.com/photo-1555885457-8cb63c8a576c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  font-family: "Noto Sans HK", sans-serif;
  font-size: 18px;
 margin:0;
 overflow-x:hidden;
 padding:0;
text-align: center;
}
 .container {
  -webkit-flex-flow: row wrap;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  
}

.container > * {
  width: 100%;
}


.nav-container{
  display: block;
}

.hamburger{
 position: absolute;
 left: 0px;
 background-color: white;
 z-index: 5;
}

.navbar{
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  justify-content: space-around;
  left: -250px;
  overflow: auto;
  position: absolute;
  text-transform: uppercase;
  transition: transform .4s ease-out;
  width: 250px;
  z-index: 5;
}



/*@media all and (min-width: 800px){
  body{
    width: 800px;
    margin: auto;
}
}*/

.open{
  transform: translate(250px, 0);
}

.navbar_links{
  align-self: center;
  color: #fff; 
  padding: 5vh 3% 2vh 1.5%;
  text-decoration: none;
}
  .welcome-section{
  text-align: center;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"); 
 background-size: cover;
  width: 100%;
  background-position: center center;
  position: relative;
}

.welcome-section:after{
  animation: appear 6s ease-out;
  border-color: #fff transparent transparent;
  border: 10px solid;
  bottom: 5vh;
  content: "";
  position:absolute;
}

@keyframes appear{
  0%{
    opacity: 0;
  }
  75%{
    opacity: 0;
}
  100%{
    opacity: 1;
  }
}

h1{
  color: #fff;
  font-size: 3em;
  font-weight: 200;
  padding-top: 10%;
}

h1:before{
  animation: sayhello 5s ease-out;
  content: "Welcome";
}

@keyframes sayhello {
  5%{
    content: "Hello!"
  }
  20%{
    content: "Bonjour!"
  }
  40%{
    content: "Ola!"
  }
  60%{
    content: "Hallo!"
  }
  80%{
    content: "Welcome"
  }
  80%{
    content: "Welcome"
  }
}

.banner{
  align-items: center;
  background-color: #EEB400;
  display: flex;
  height: 400px;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.banner_heading{
  flex: 1 1 50%;
  font-size: 2em;
  text-align: center;
  
}
.banner_text{
  flex: 0 2 50%;
  line-height: 37px;
  margin-right: 5%;
  text-align: left;
}
.section-header{
  height: 120px; 
  margin-bottom: 60px;
  margin-top: 100px;
}
.flex-col{
 display: flex;
 flex-direction: column;
}

.flex-row{
  display: flex;
 flex-direction: row;
}



.project-tile{
  background-color: white;
  font-weight: bold;
  height: 200px;
  justify-content: center;
  padding-top: 50px;
  position: relative;
}

.project-tile_img{
  display: inline-block;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  position:relative;
  top: 0;
}
.project-tile_heading{
  background-color: #000;
  border-right: 2px solid #fff;
  box-sizing: border-box;
  color: white;
  font-weight: 100;
  height: 20%;
  opacity: .9;
  position:absolute;
  top: 80%;
  width: 100%;
  z-index: 1;
}

.button{
  background-color: #007CC2;
  border-radius: 30px;
  border: none;
  color: #fff ;
  font-size: 1.2em;
  height: 65px;
  margin-top: 100px;
  width: 250px;
 box-shadow: none;
}

.education_item{
  align-items: center;
  justify-content: center;
}

a:hover{
  opacity: 0.5;
}


.footer{
   background-color: #000;
  align-items: flex-end;
  padding: 10vh 0 15vh 2vh;
}

.fa{
  color: #007CC2;
  padding: 10px;
}

.wrapper{
  background-color: whitesmoke;
  border-radius: 3px;
  list-style-type: none;
  margin: auto;
  padding:30px 0 30px 0;
}

.form-row{
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-row > label{
  flex: 1;
  padding: .5em 1em .5em 0;
}

.form-row > input, textarea{
  border-radius: 6px;
  border: 2px solid #007CC2;
  flex: 2;
  padding: .2em;
}


#submit{
   border: 2px solid #007CC2;
  background-color: #007CC2;
  border-radius: 6px;
  color: white;
  height: 45px;
  margin-top: 20px;
  padding: 5px;
  text-transform: uppercase;
  width: 100px;
}

@media screen and (min-width: 600px){
  .navbar{
  background-color: #000;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: flex-end;
  left: 0%;
  margin:0;
  position: fixed;
  top:0;
  width: 100%;
}
 
  .hamburger, .navbar_close-menu{
    display: none;
}
  .navbar > a ~ a{
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
 
  .project-tile{
    width: 33%;
  } 
  .banner{
    height: 400px;
    justify-content: space-around;
  display: flex;
  flex-direction: row;
  }
  .banner_heading{
    font-size: 4em;
    margin-right: 5%;
    text-align: right;
  }
  .banner_text{
    margin-right: 5%;
    text-align: left;
  }
  .form-row > input {
    	flex: 3; 
}
}